sudo: required
before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libusb-1.0-0-dev libqt4-dev qt4-dev-tools libqtscript4-core php5-cli

language: cpp

# Compiler selection
compiler:
  - gcc

install: true

# Build steps
script:
  - make gui-tools
  - make checklib
  - make package

#before_deploy:
  #- make package
  #- echo $TRAVIS_BUILD_DIR

#deploy:
  #provider: releases
  #api_key:
    #secure: h0WKQI87w3pzl85y65tjrjq2CyhO1ET3CPwaOXigyWXH4UFpOMJXs3VudzQo8+lnM0YNn63eYViJAaHpaTIWbZxIzzO5Tcg73QFloZ7/HDdRsW4WEM6sOsR9RDAwov9enVSJSp6Ehdq068njjbVb3dE51idP0m8bDW7w8okY2E/64BrU1i59qAhqYvSJuPB7L1nzrPzRQkKAlyyOOMN6wn861jSUhKcD1mZDUVmVU9nqj/QAQFMOYHLf7SRvX0ZFGSAGcsFX9s8EuzEJ09+3zBN6Vcr/CrN5QIUMBin0ukruEEVEibH/ViD/rJM1UKymycnM3mC0O+WRAMs1ByxFaZ0QLa0I5RvyIIZ9Ynjs7eVfEqdosij2Ud2iDkWBdZXNRbuLrc7VHt4guBTZPohMhYPDeNLQGsaxU0NL19m43t+5OjD+6nP7iVx/iflAtXx8eGbrHTKyDZAaDORj6MJPvh/gqvwrQuGkaSjNxE2pM726Cj4AfLcKjhWhy9MP9RGcWPLEYY6rkj6KRTFUS5hvXoQ2G8ixiSX3P3XyDS2nmk4c7iMsSKcNCI3obR7X33IQ8JbhNFKfZDtUWrzrH56KDcfnjJZ44cTC+LfNvmEugDRleH3QRlJw94QsrKgYwSrgBAM/iJyJzIp/s4RQgt1LD2N6YtdOvERBr1kLl3lVR4U=
  #file: gpstudio_distrib.tar.gz
  #skip_cleanup: true
  #file_glob: true
  #overwrite: true
  #on:
    #repo: DreamIP/GPStudio
    #branch: dev
    #tags: true
