sudo: required
before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libusb-1.0-0-dev libqt4-dev qt4-dev-tools libqtscript4-core php5-cli

language: cpp

# Compiler selection
compiler:
  - gcc

install: true

# Build steps
script:
  - make gui-tools
  - make checklib
  - make package

before_deploy:
  - make package

deploy:
  provider: releases
  api_key:
    secure: Ku4BA5XeEgMu9cXa1sLexDx0C3+5aOBKXlIfOJ8VL4GeWtBMwdaW8oOAc3bZjCACdWadpI4zk8HBhw/HsLdcewHEu69Te0+Eu2daj7xkGK7onUrLx4fUPloPFkwJh6GY6rFSbMQyUHUW/5EWHkslR7yGZUJdxJmSJt+EZWU1524/khyCDKSyBnUSL4JyRZMd
  file: gpstudio_distrib.tar.gz
  on:
    repo: DreamIP/GPStudio
    branch: dev
